# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = g2jz
	email = gmartinmendiola@gmail.com
[lfs]
	contenttype = 0
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = nvim
	excludesfile = /Users/g2jz/.gitignore_global
